:root {
    --white: #FFFFFF;
    --dullGreen: #60C2AA;
    --richGreen: #69B849;
    --Red: #E93E3E;
    --gray: #898993;
    --black: #373745;
    --box_shadow:rgba(116, 121, 151, 0.1);
}

body {
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: var(--black);
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: var(--dullGreen);
    border-radius: 200px;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    background: var(--white);
    box-shadow: 0px 2px 6px var(--box_shadow);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

#main-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

table {
    background: var(--white);
    color: var(--black);
    border-spacing: 1px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    position: absolute;
    width: 1026px;
    left: calc(50% - 1026px/2);
    height: 856px;
    top: 125px;
    bottom: 80px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    text-align:left;
}

caption{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align:left;
    height: 36px;
    width: 189px;
}

td{
    padding-left: 8px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

th{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

tr{
    height: 48px;
}

.victories{
    color: var(--richGreen);
    width: 108px;
}

.losses{
    color: var(--Red);
    width: 108px;
}

.name{
    width: 420px;
}

.total-games
{
    width: 108px;
}

.win-rate{
    width: 134px;
}