<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../inc/fonts') %>
    <link rel="stylesheet" href="./auth.css">
    <title>Autorization</title>
</head>
<body>
<div class="main-container">
    <div id="dog-logo"><img src="../imgs/dog.svg"/></div>
    <h1>Войдите в игру</h1>
        <div class="logPass-fields">
            <input id="login-field" placeholder="Логин" type="login">
        </div>
        <div class="logPass-fields">
            <input id="password-field" placeholder="Пароль" type="password">
        </div>
        <button class="button">Войти</button>
</div>
<script src="./auth.js"></script>
</body>
</html>