<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../inc/fonts') %>
    <link rel="stylesheet" href="Playing-field/playing_field.css">
    <title>Игровое поле</title>
</head>
<body>
    <header>
        <div id="logo"><img src="./imgs/s-logo.svg"/></div>
        <%- include('../inc/nav_panel') %>
        <button><img src="./imgs/signout-icon.svg"/></button>
    </header>
    <div id="main-container">
        <div id="subject-list">
            <h1>Игроки</h1>
            <div class="container">
                <div class="subject-container">
                    <div><img class="subject-icon"
                              src="./imgs/zero.svg"/></div>
                    <div class="subject-info">
                        <div class="subject-name">Пупкин Владелен Игоревич</div>
                        <div class="subject-percent">63% побед</div>
                    </div>
                </div>
                <div class="subject-container">
                    <div><img class="subject-icon"
                              src="./imgs/x.svg"/></div>
                    <div class="subject-info">
                        <div class="subject-name">Плюшкина Екатерина Викторовна</div>
                        <div class="subject-percent">23% побед</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="game-container">
            <div id="game-time">05:12</div>
            <div id="game-board">
                <div id="cell-0-0"></div>
                <div id="cell-0-1"></div>
                <div id="cell-0-2"></div>
                <div id="cell-1-0"></div>
                <div id="cell-1-1"></div>
                <div id="cell-1-2"></div>
                <div id="cell-2-0"></div>
                <div id="cell-2-1"></div>
                <div id="cell-2-2"></div>
            </div>
            <div id="game-step">Ходит&nbsp;<img src="./imgs/x.svg"/>&nbsp;Екатерина Плюшкина</div>
        </div>
        <div id="chat-container">
            <div class="msgs-container">
                <div class="msg-container other">
                    <div class="msg-header">
                        <div class="subject-name x">Плюшкина Екатерина</div>
                        <div class="time">13:40</div>
                    </div>
                    <div class="msg-body">Ну что, готовься к поражению!!1</div>
                </div>
                <div class="msg-container me">
                    <div class="msg-header">
                        <div class="subject-name zero">Пупкин Владлен</div>
                        <div class="time">13:41</div>
                    </div>
                    <div class="msg-body">Надо было играть за крестики. Розовый — мой не самый счастливый цвет</div>
                </div>
                <div class="msg-container me">
                    <div class="msg-header">
                        <div class="subject-name zero">Пупкин Владлен</div>
                        <div class="time">13:45</div>
                    </div>
                    <div class="msg-body">Я туплю...</div>
                </div>
                <div class="msg-container other">
                    <div class="msg-header">
                        <div class="subject-name x">Плюшкина Екатерина</div>
                        <div class="time">13:47</div>
                    </div>
                    <div class="msg-body">Отойду пока кофе попить, напиши в тг как сходишь</div>
                </div>
            </div>
            <div class="msg-interactive-elements">
                <textarea placeholder="Сообщение..."></textarea>
                <button><img src="./imgs/send-btn.svg"></button>
            </div>
        </div>
</div>
<script src="Playing-field/playing_field.js"></script>
</body>
</html>