<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../inc/fonts') %>
     <link rel="stylesheet" href="./rating.css">
     <title>Rating</title>
</head>
<body>
     <header>
         <div id="logo"><img src="../imgs/s-logo.svg"/></div>
         <%- include('../inc/nav_panel') %>
         <button><img src="../imgs/signout-icon.svg"/></button>
     </header>
     <div id="main-container">
         <table>
             <caption>Рейтинг игроков</caption>
             <tbody>
                <tr>
                    <th class="name">ФИО</th>
                    <th class="total-games">Всего игр</th>
                    <th>Победы</th>
                    <th>Проигрыши</th>
                    <th class="win rate">Процент побед</th>
                </tr>
                <% players.forEach(players => { %>
                <tr>
                    <td><%=players.name %></td>
                    <td><%= players.totalGames %></td>
                    <td class="victories"><%= players.victories %></td>
                    <td class="losses"><%= players.losses %></td>
                    <td><%= players.winRate %></td>
                </tr>
                <%}); %>
            </tbody>
         </table>
     </div>
</body>
</html>