:root {
    --white: #FFFFFF;
    --gray: #DCDCDF;
}

body {
    margin: 0;
    background: rgba(246, 246, 246, 1);
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.main-container{
    width: 400px;
    background: var(--white);
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

#dog-logo{
    padding-top: 40px;
    text-align: center;
}

h1{
    padding-top: 20px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.logPass-fields{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: -webkit-fill-available;
}

.logPass-fields input{
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px solid var(--gray);
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
}

.button{
    border: 1px solid var(--gray);
    border-radius: 12px;
    width: -webkit-fill-available;
    height: 48px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgba(96, 194, 170, 0.3);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:var(--white);
}
